*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(11, 11, 88);
    background-color: rgb(158, 155, 151);
}
body{
    background-color: rgb(197, 207, 189);
    text-align: center;
}

.container{
    height:70vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    color: rgb(239, 79, 10);
    margin: 2rem 0 2rem 0;

}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 7, 10, 1);
    font-size: 8vmin;
    background-color: rgb(239, 240, 185);
}

#resetButton{
    padding: 0.6rem;
    background-color: black;
    color: bisque;
    border: none;
    border-radius: 1rem;
}

#newButton{
    padding: 0.6rem;
    background-color: black;
    color: bisque;
    border: none;
    border-radius: 1rem;
}
#winButton{
    color:rgb(33, 172, 185);
    font-size: 5vmin;
    margin: 1rem 0 1rem;
}

.hide{
    display: none;
}
.x-mark{
    color: rgb(12, 82, 12);
}
.o-mark{
    color: rgb(162, 16, 53);
}